:root{
    --primary: hsl(44, 85%, 48%);
    --secondary: hsl(330, 85%, 48%);
    --tertiary: hsl(188, 85%, 48%);
    --success: hsl(216, 85%, 48%);
    --warning: hsl(45, 100%, 51%);
    --info: hsl(194, 66%, 61%);
    --danger: hsl(0, 85%, 48%);
    --light: grey;
    --dark: #000000;
    --nav-height: 80px;
}


/* COLORS */
$primary: hsl(44, 85%, 48%);
$secondary: hsl(330, 85%, 48%);
$tertiary: hsl(188, 85%, 48%);
$info: hsl(194, 85%, 48%);
$success: hsl(216, 85%, 48%);
$warning: hsl(45, 100%, 51%);
$danger: hsl(0, 85%, 48%);
$light: grey;
$dark: #000000;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "info": $info,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);

$input-focus-border-width: 2px;
$input-focus-box-shadow: 0 0 4px 2px rgba($success, 0.2);
$input-focus-border-color: $success;

$form-check-input-focus-border: $success;
$form-check-input-focus-box-shadow: 0 0 4px 0px rgba($success, 0.2);
$form-check-input-checked-bg-color: $success;
$form-check-input-checked-border-color: $success;

$form-select-focus-box-shadow: 0 0 4px 0px rgba($success, 0.2);
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";