:root{
    --primary: #E2AA12;
    --secondary: #E1127A;
    --tertiary: #12C7E2;
    --success: #1266E2;
    --warning: #ffc107;
    --danger: #E21212;
    --light: grey;
    --dark: #000000;
    --nav-height: 80px;
}


/* COLORS */
$primary: #e2aa12;
$secondary: #e1127a;
$tertiary: #12c7e2;
$success: #1266e2;
$warning: #ffc107;
$danger: #e21212;
$light: grey;
$dark: #000000;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
);

$input-focus-border-width: 2px;
$input-focus-box-shadow: 0 0 4px 2px rgba($success, 0.2);
$input-focus-border-color: $success;

$form-check-input-focus-border: $success;
$form-check-input-focus-box-shadow: 0 0 4px 0px rgba($success, 0.2);
$form-check-input-checked-bg-color: $success;
$form-check-input-checked-border-color: $success;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";