@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu';
}


body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    height: 100vh;
}

/* NAVBAR */
#header {
    width: 100%;
    height: var(--nav-height);
    background-color: black;
}

.header-inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    margin: 0 auto;
}

#logo {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: auto;
    
}

#logo svg:hover , #login-btn a:hover{
    transform: scale(1.05);
}

#logo svg {
    display: block;
    width: 100%;
    height: auto;
    transition: transform .2s ease-in-out;
}

#login-btn {
    display: block;
    width: 120px;
    height: 40px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#login-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font: 16px/28px Ubuntu;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    border: none;
    transition: transform .2s ease-in-out;
}

/* CONTENT */
#content {
    height: calc(100% - var(--nav-height));
    width: 100%;
}

#stripes-1 {
    position: absolute;
    left: 0;
    top: 20%;
    z-index: -2;
}

#stripes-2 {
    position: absolute;
    right: 0;
    bottom: 20%;
    z-index: -2;
}

#stripes-1 svg, #stripes-2 svg {
    width: 120%;
    height: auto;
}

/* ----- FIXES ----- */

/* Removes mapbox watermakrs so it doesn't interfere with the buttons */
#mapContainer .mapboxgl-control-container {
    display: none !important;
}

/* New label dimensions and positions for floating labels to avoid overlap of input text with input label
 * This should be fixed by bootstrap, known issue https://github.com/twbs/bootstrap/issues/32800
*/
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    opacity: 1;
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    height: auto;
    padding: 0px 0px 0px 10px;
    width: 100%;
    transform: scale(0.982) translateY(0.045rem) translateX(0.1rem);
    border-radius: 5px 0 0 0;
}