#content {
    display: flex;
    align-items: center;
}

.menu-container {
    position: relative;
    width: 90%;
    margin: 0 5%;
}

.menu-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: -1;
}

#menu-operator, #menu-superv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 4%;
    height: 85%;
}

#menu-admin{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 4%;
    height: 85%;
}

.block-lt, .block-lb, .block-ltb {
    height: 100%;
    background-color: rgb(226, 170, 18, .14);
    border: 4px SOLID #e2aa12;
    border-radius: 10px;
}

.block-rt {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-area: 1 / 3 / 2 / 4;
    background-color: rgba(225, 18, 122, .14);
    border: 4px SOLID #E1127A;
    border-radius: 10px;
}

.block-rb {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-area: 2 / 3 / 3 / 4;
    background-color: rgba(18, 199, 226, .14);
    border: 4px SOLID #12C7E2;
    border-radius: 10px;
    align-self: end;
}

.block-lt{
    grid-area: 1 / 1 / 2 / 2;
}

.block-lb {
    grid-area: 2 / 1 / 2 / 2;
}

.block-ltb{
    grid-area: 1 / 1 / 3 / 3; 
}

#menu-admin .block-rt {
    grid-area: 1 / 2 / 2 / 2;
}
#menu-admin .block-rb {
    grid-area: 2 / 2 / 2 / 2;
}

#operator-data .card.expanded {
    height: auto;
}

#sandbox .body, #trucada .body {
    position: relative;
    flex-grow: 1;
    padding: 0 12px;
    text-align: start;
}

#sandbox .btn, #trucada .btn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 80%;
    transform: translateX(-50%);
}

@media (max-width: 992px) {

    #menu-operator, #menu-admin {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #info-app, #operator-data {
        margin: 20px;
        overflow-y: hidden;
        cursor: pointer;
        transition: height .4s;
    }
    #info-app {
        height: 20%;
    }

    #operator-data {
        height: 16%;
    }

    #info-app.expanded, #operator-data.expanded {
        height: 60%;
    }

    .block-lt {
        grid-area: 1 / 1 / 2 / 2;;
    }

    .block-lb {
        grid-area: 2 / 1 / 3 / 2;
    }
    #menu-admin .block-rt {
        grid-area: 1 / 2 / 2 / 3;
    }

    .block-ltb {
        grid-area: 1 / 1 / 2 / 3;
    }
    
    .block-rt {
        grid-area: 2 / 1 / 3 / 2;
        align-self: start;
    }
    
    .block-rb {
        grid-area: 2 / 2 / 3 / 3;
        align-self: start;
    }
}

@media (min-width: 991px) {
    #info-app, #operator-data {
        height: calc(50% - 40px);
        margin: 20px;
        overflow-y: hidden;
        transition: height .4s;
    }
}

@media (max-width: 768px) {
    #sandbox .btn, #trucada .btn {
        bottom: 2%;
    }
}

@media (max-width: 540px) {
    #sandbox .btn, #trucada .btn {
        bottom: -22%;
    }
}

.menu .card {
    height: 100%;
    border: 1px solid #000000;
    box-shadow: 1px 1px 4px 1px rgba(226, 170, 18, .1);
    border: none;
    border-radius: 10px;
    transition: height 0.5s ease-out;
}



#operator-data{
    display: flex;
    justify-content: space-between;
}

#operator-data .card {
    flex-basis: calc(50% - 15px);
}






/* Switch - box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 100%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: var(--tertiary);
    border-radius: 20px 0 0 20px;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(90%);
  }
  
  /* Rounded slider */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


#side {
    opacity: 0;
    padding: 0;
    width: 0;
    max-width: 120px;
    flex: none;
    border-radius: 4px 20px 20px 4px;
    border-left: none;
    transition: width 0.4s ease-out;
  }

  #side.expand {
    padding-left: 10px;
    opacity: 1;
    width: 70%;
  }

  #side:focus {
    border-color: var(--tertiary);
    outline: 0;
    box-shadow: 0 0 2px 0.1rem rgba(18, 199, 226, .3);
  }